{
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier", "prettier/react"],
  "plugins": ["prettier", "flowtype", "react", "jsx-a11y", "import"],
  "globals": {
    "window": true,
    "location": true,
    "document": true
  },
  "rules": {
    "react/jsx-filename-extension": [0, { "extensions": [".js", ".jsx"] }]
  }
}
